body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.team .buttons {
  padding: 0 !important;
}

.trainers {
  width: 100%;
  display: flex;
}

.trainers>div {
  flex: 1 1 0px;
}

.battle {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 20px;
  padding: 6px;
}

.battle-side {
  font-size: small;
}

.battle-results {
  padding: 20px;
  text-align: center;
}

.pokemon-state {
  padding: 20px;
}

.event {
  min-width: 13px;
  /* border-right: 1px solid lightgray; */
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}

.col {
  flex: 1 1 0px;
}

.ui.progress.hp-bar:last-child {
  margin: 0;
}

.ui.progress.hp-bar > .bar {
  position: static;
  min-width: 0;
}

.ui.progress.hp-bar > .bar::after {
  animation: none;
}

.energy.statistic.right.floated {
  margin: 0;
}

.ui.segments.team > .segment {
  flex: 1 1 0;
}

.eps {
  font-variant: small-caps;
  padding-left: 2px;
}